/* colors */
$white: #ffffff;
$blue: #111e6c;
$blue-light: #e5e7ee;
$red: #ef434e;
$red-light: #af6478;
$red-wine: #56305d;
$red-wine-light: #7e345a;
$red-wine-dark: #61325d;
$dark-gray: #323232;
$light-gray: #969696;
$bg-color: #e5e7ef;
$bg-color-2: #e4e5ec;
$brown-color-1: #969696;
$box-shadow-1: 0px 0px 15px 7px rgb(219 219 219);

/* fonts */

$font-regular: Montserrat-Regular;
$font-medium: Montserrat-Medium;
$font-semibold: Montserrat-SemiBold;
$font-bold: Montserrat-Bold;