@font-face {
    font-family: Montserrat-Regular;
    src: url(@/assets/fonts/montserrat/Montserrat-Regular.otf) format('opentype');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(@/assets/fonts/montserrat/Montserrat-Medium.otf) format('opentype');
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(@/assets/fonts/montserrat/Montserrat-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(@/assets/fonts/montserrat/Montserrat-Bold.otf) format('opentype');
}

